<div class="searchbar">
  <!-- opendilog btn  -->
  <button mat-button (click)="openDialog()">AddTask </button>
  <!-- search field  -->
  <mat-form-field appearance="fill"  matTooltip="search task by title,description,and status">
    <input matInput [(ngModel)]="searchQuery" (input)="handleSearchTextChange()" placeholder="Enter search">
  </mat-form-field>
  <!-- filter dropdown date -->
  <mat-form-field appearance="fill" [color]="colorControl.value!">
    <mat-label>Date</mat-label>
    <mat-select [(ngModel)]="selectiondate" (selectionChange)="onDateSort($event)">
      <mat-option value="dueDate">Due Date</mat-option>
      <mat-option value="creationDate">Creation Date</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- filter dropdown priority-->
  <mat-form-field appearance="fill" [color]="colorControl.value!">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="selectedOption" (selectionChange)="onSortSelect($event)">
      <mat-option value="Low">Low</mat-option>
      <mat-option value="Medium">Medium</mat-option>
      <mat-option value="High">High</mat-option>
    </mat-select>
  </mat-form-field>
</div>
