.searchbar {
  display: flex;
  flex: 0 0 calc(25% - 20px); /* 3 cards per row, adjust as needed */
  margin: 10px;
  padding: 20px;
  align-items: center;
  justify-content: right;
  background: rgb(223, 223, 223);
  gap: 20px;
  align-items: flex-start;
}
.searchbar button{
  background: rgb(3, 95, 107);
  color: white;
  padding: 27px 60px;
  width: 60px;
  font-size: 20px;


}
.searchbar mat-form-field:nth-child(2){
  width: 100%;
}
