.searchbar {
  max-width: 1200px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  gap: 5px;
  align-items: center;
  justify-content: right;
  align-items: flex-start;
  background-color: transparent;
}
.searchbar button {
  color: rgb(33, 95, 87);
  padding: 12px 60px;
  width: 60px;
  font-size: 20px;
  font-weight: bolder;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -5px 5px 13px #c9c9c9,
    5px -5px 13px #ffffff;
}
.searchbar button:hover{
  color: white;
  background: linear-gradient(225deg, #21564e, #28665d);
  box-shadow:  -5px 5px 13px #1d4b45,
             5px -5px 13px #feffff;
}

.searchbar mat-form-field:nth-child(2) {
  width: 100%;
  background: inherit;

}



