.alltask {
  max-width: 1200px;
  margin: auto;
  columns: 3 300px;
  column-gap: 12px;
  font-size: 1.2rem;
}


.example-card{
  width: 100%;
  padding: 20px;
  margin: 0 0 2rem ;
  display: inline-block; /* stops block being split across columns. Could use break-inside: avoid for modern browsers; */
  break-inside: avoid;
  border-radius: 10px;
  background: #e2e7e9;
  box-shadow: 32px 32px 64px #bec2c4,
    -32px -32px 64px #ffffff;
}
