
.alltask{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background: rgb(231, 230, 230);
  flex-wrap: wrap;
  gap: 10px;
  height: 75vh;
  overflow: auto;
  padding: 2px;
}
.example-card {
  padding: 12px;
  width: 300px;
    margin-bottom: auto;
    color: #0f0f0f;
    background: #f0fdff;
    border-radius: 20px;

  }





