

<div  class="addtaskdiv">
  <button class="btnclose" mat-button (click)="onNoClick()">
    close
  </button>
    <h1>{{data? 'updateTask':'Add Task'}}</h1>
    <form [formGroup]="AddTask" (ngSubmit)="onSubmit()">
      <!-- title-->
      <mat-form-field appearance="fill" class="custom-mat-input">
        <mat-label>title</mat-label>
        <input matInput formControlName="title" >
      </mat-form-field>
      <!-- description  -->
      <mat-form-field appearance="fill" class="custom-mat-input">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <!-- priority -->
      <mat-form-field>
        <mat-label>Dropdown Label</mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let option of priorityOptions" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- dueDate -->
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
        *ngIf="AddTask.controls['dueDate'].invalid && (AddTask.controls['dueDate'].errors||AddTask.controls['dueDate'].touched)">
        <span *ngIf="AddTask.controls['dueDate'].errors?.['required']">Due Date Required</span>
        <span *ngIf="AddTask.controls['dueDate'].errors?.['validateDate']">You enter Past date</span>
      </mat-error>
      </mat-form-field>
      <!-- task status  -->
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="status">
        <mat-radio-button class="example-radio-button" *ngFor="let task of taskStatus" [value]="task">
          {{task}}
        </mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary" type="submit" value="submit">  {{ data ? 'UpdatTask' : 'AddTask' }}</button>
    </form>

</div>
