.addtaskdiv {

  padding: 20px;
  border-radius: 12px;
  text-align: center;
  border-radius: 10px;
  background: #e2e7e9;
  box-shadow: 32px 32px 64px #bec2c4,
    -32px -32px 64px #ffffff;
}
.addtaskdiv h1{
  font-size: 30px;
  font-weight: bold;
  color: #b3b3b3;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px 1px 0 #d4f6ff;
}

mat-form-field {
  display: block;

}

.example-radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 2px;

}



.btnclose {
  position: absolute;
  right: 0;
  top: 0;
}

.btnclose {
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background: rgb(255, 0, 13);
}
