
.containerform{
  max-width: 600px;
  margin: auto;
  top: 50%;
  text-align: center;
  transform: translateY(50%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.containerform form{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.link{
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 10px;
}


