
.formContainer{
  text-align: center;
  max-width: 600px;
  margin: auto;
  top: 50%;
  transform: translateY(50%);
  box-shadow: 32px 32px 64px #bec2c4,
  -32px -32px 64px #ffffff;
}
.neo-text{
  font-weight: bold;
  color: #b3b3b3;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px 1px 0 #d4f6ff;
}
.formContainer form{
  display: flex;
  flex-direction: column;
  padding: 20px;

}
.link{
  cursor: pointer;
  color: rgb(0, 0, 0);
}



