
<div class="containerform">
  <form [formGroup]="userprofile" (ngSubmit)="onSubmit()" >
      <!-- firstname -->
      <mat-form-field  appearance="outline" class="custom-mat-input">
        <mat-label >FirstName</mat-label>
        <input matInput formControlName="firstName" >
        <mat-error
          *ngIf="userprofile.controls['firstName'].invalid && (userprofile.controls['firstName'].errors||userprofile.controls['firstName'].touched)">
          <span *ngIf="userprofile.controls['firstName'].errors?.['required']">UserName Required</span>
          <span *ngIf="userprofile.controls['firstName'].errors?.['firstName']">Invalid Name</span>
        </mat-error>
      </mat-form-field>
      <!-- lasttname -->
      <mat-form-field appearance="outline">
        <mat-label>LastName</mat-label>
        <input matInput formControlName="lastName" >
        <mat-error
          *ngIf="userprofile.controls['lastName'].invalid && (userprofile.controls['lastName'].errors||userprofile.controls['lastName'].touched)">
          <span *ngIf="userprofile.controls['lastName'].errors?.['required']">UserName Required</span>
          <span *ngIf="userprofile.controls['lastName'].errors?.['lastName']">Invalid Name</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
