.example-spacer {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 20px;
}
button{
  background: #e2e7e9;
  box-shadow: inset -5px 5px 10px #c9c9c9,
            inset 5px -5px 10px #ffffff;
}
.userName{
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border-radius: 3%;
}
.userName span {
  font-size: 20px;
  padding: 0 0 0 15px;
  color: rgb(33, 95, 87);

}
.mat-icon {
  color: rgb(33, 95, 87);
}


mat-toolbar {
  color: white!important;
  background:#e2e7e9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
}
mat-toolbar span{
  font-size: 30px;
}

