<mat-toolbar>
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Task Management Angular App</span>
  <div class="example-spacer">
    <button routerLink='alltask' mat-icon-button >
      <mat-icon>home</mat-icon>
    </button>

   <div class="userName">
    <button routerLink='user' mat-icon-button >
      <mat-icon>account_circle</mat-icon>
    </button>
    <span>{{username}}</span>
   </div>
    <button (click)="logout()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>

  </div>
</mat-toolbar>
