mat-card-title {
  font-size: 14px;
  letter-spacing: 2px;
  font-family: 'Arial Black', sans-serif;

}

.red-icon {
  font-weight: 600;
  color: rgb(250, 0, 0);
}

.blue-icon {
  color: rgb(1, 73, 17);
}

mat-card-title {
  font-size: 20px;
  font-weight: 500;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.iconlabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.date {
  display: flex;
  align-items: center;
  padding: 5px;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
}

.edit {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: rgb(255, 255, 255);
  background: rgb(56, 56, 52);
  font-size: 20px;
  border-radius: 0 0 10px 10px;
}
.edit:hover{
  background: rgb(236, 236, 236);
  color: black;
}









