


mat-card-title {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: 'Arial Black', sans-serif;

}

.red-icon {
  font-weight: 600;
  color: rgb(250, 0, 0);
}

.blue-icon {
  color: rgb(1, 73, 17);
}

mat-card-title {
  font-size: 30px;
}



.iconlabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.iconlabel  mat-icon{
  font-size: 20px;
}



.date {
  display: flex;
  align-items: center;
  padding: 5px;
}

.remove {
  position: absolute;
  top: 0;
  left: 0;


}
.remove mat-icon{
font-size: 20px;
color: crimson;
font-weight: 700;
}

.edit {
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(22, 22, 22);
  font-size: 20px;
  padding: 15px 0 0 10px;
  border-radius: 99% 1% 70% 30% / 96% 100% 0% 4% ;
  box-shadow: inset 5px 5px 10px #c9c9c9,
              inset -5px -5px 10px #ffffff;

}
.edit:hover{
  color: black;
}









