mat-dialog-actions{
  display: flex;
  justify-content: center;
}
mat-form-field{
  display: block;
}
button{
  letter-spacing: 2px;
  color: rgb(255, 255, 255)!important;
}
button:nth-child(1){
  background: rgb(255, 0, 0);

}
button:nth-child(2){
  background: rgb(23, 71, 8);


}
