.background{
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1584203095493-6d23037b6b13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
